<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title></title>
        <link rel="stylesheet" href="/static/css/main.css" charset="utf-8">
    </head>
    <body>

        <main class="coming_soon">

            <figure class="coming_soon_header">
                <h1>Tings.co</h1>
            </figure>

            <article class="coming_soon_blurb">

                <p>Tings is a beautiful and simple tool to help creatives track
                their personal projects. </p>

                <p>We're hard at work to bring you the best product possible. So
                stick around, it will be out soon.</p>

                <p>In the meantime, just get on with your tings.</p>

            </article>

            <footer>
                Tings.co is a project by
                <a href="https://zabanaa.github.io">カリム</a>
            </footer>

        </main>

        <script src="/static/js/app.js"></script>

    </body>
</html>
